source https://api.nuget.org/v3/index.json

storage: none
nuget Microsoft.Extensions.Configuration 9.0.1
nuget Microsoft.Extensions.DependencyInjection 9.0.1
nuget Microsoft.Extensions.Hosting 9.0.1
nuget Microsoft.Extensions.Logging 9.0.1
nuget Microsoft.Extensions.Options 9.0.1
nuget Microsoft.VisualStudio.Threading 17.12.19
nuget System.CommandLine 2.0.0-beta4.22272.1 beta4